<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <meta data-vue-meta="1" property="og:title" content="<%= htmlWebpackPlugin.options.meta_vars.title %>">
    <meta data-vue-meta="1" property="og:description" content="<%= htmlWebpackPlugin.options.meta_vars.description %>">
    <meta data-vue-meta="1" property="og:image" content="<%= htmlWebpackPlugin.options.meta_vars.image %>">
    <meta data-vue-meta="1" property="og:url" content="<%= htmlWebpackPlugin.options.meta_vars.url %>">
    <meta data-vue-meta="1" name="twitter:card" content="summary">
    <meta data-vue-meta="1" name="description" content="<%= htmlWebpackPlugin.options.meta_vars.description %>">
    <meta data-vue-meta="1" name="title" content="<%= htmlWebpackPlugin.options.meta_vars.title %>">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
