<template>
  <div class="">
    <v-container v-if="activeQuarantines()">
      <div class="text-center">
        <h1>{{ $tc("overview.title", activeQuarantines().length) }}</h1>
      </div>
      <v-row align="center" justify="center">
        <v-col
          :cols="12"
          :sm="6"
          :lg="4"
          v-for="quarantine of activeQuarantines()"
          :key="quarantine.team.id"
        >
          <v-lazy>
            <team-card :quarantine="quarantine"></team-card>
          </v-lazy>
        </v-col>
      </v-row>
      <share-buttons
        :title="
          $tc('overview.share.title', this.activeQuarantines().length) +
            ': ' +
            $t('app.url')
        "
        :text="
          $tc('overview.share.title', this.activeQuarantines().length) +
            ': ' +
            $t('app.url')
        "
      ></share-buttons>
      <v-divider class="my-4"></v-divider>
      <h2>{{ $t("overview.table") }}:</h2>
      <v-lazy>
        <quarantine-table :data="allQuarantines()"></quarantine-table>
      </v-lazy>
    </v-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import QuarantineTable from "../components/QuarantineTable.vue";
import ShareButtons from "../components/ShareButtons.vue";
import TeamCard from "../components/TeamCard.vue";

export default {
  name: "Overview",
  components: { QuarantineTable, TeamCard, ShareButtons },
  computed: {
    ...mapGetters({
      activeQuarantines: "getActiveQuarantines",
      allQuarantines: "getAllQuarantines"
    })
  },
  head() {
    return {
      title: this.$t("overview.meta.title"),
      meta: [
        {
          name: "title",
          content: this.$t("overview.meta.title")
        },
        {
          property: "og:title",
          content: this.$t("overview.meta.title")
        },
        {
          property: "og:image",
          content: this.$t("app.meta.image")
        },
        {
          property: "og:url",
          content: this.$t("app.url")
        },
        {
          name: "twitter:card",
          content: "summary"
        }
      ]
    };
  },
  mounted() {
    this.$store.dispatch("loadTeams");
  }
};
</script>
