<template>
  <div class="text-center">
    <v-container v-if="team">
      <img
        :src="'/img/logos/' + team.details.abbreviation.toLowerCase() + '.png'"
        style="width:12rem;"
      />
      <div v-if="activeQuarantine">
        <h1>
          {{
            $tc("team.quarantined", team.details.plural, {
              team: team.details.name,
              date: $moment(activeQuarantine.from).format("LL")
            })
          }}
        </h1>
        <p>
          {{
            $t("team.duration", {
              duration: $moment(activeQuarantine.from)
                .add({ days: activeQuarantine.length + 1 })
                .fromNow(true)
            })
          }}
        </p>
      </div>
      <div v-else>
        <h1>
          {{
            $tc("team.notquarantined", team.details.plural, {
              team: team.details.name
            })
          }}
        </h1>
      </div>
      <share-buttons
        :title="shareTitle + ': ' + currentLocation"
        :text="shareTitle + ': ' + currentLocation"
      ></share-buttons>
      <v-divider class="my-8"></v-divider>
      <h2>
        {{
          $tc("team.pastquarantines", team.details.plural, {
            team: team.details.name,
            number: team.quarantines.length
          })
        }}:
      </h2>
      <v-lazy>
        <quarantine-table
          :data="allQuarantines(team.details.abbreviation)"
        ></quarantine-table>
      </v-lazy>
    </v-container>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import QuarantineTable from "../components/QuarantineTable.vue";
import ShareButtons from "../components/ShareButtons.vue";

export default {
  components: { QuarantineTable, ShareButtons },
  name: "Team",
  data() {
    return {
      team: null
    };
  },
  head() {
    return {
      title: this.team ? this.team.details.name : "",
      meta: [
        {
          name: "title",
          content: this.$t("app.meta.title", { title: this.shareTitle })
        },
        {
          property: "og:title",
          content: this.$t("app.meta.title", { title: this.shareTitle })
        },
        {
          property: "og:image",
          content: this.$t("app.meta.image")
        },
        {
          property: "og:url",
          content: this.$t("app.url")
        },
        {
          name: "twitter:card",
          content: "summary"
        }
      ]
    };
  },
  watch: {
    async $route() {
      await this.loadData();
    }
  },
  async mounted() {
    await this.loadData();
  },
  methods: {
    async loadData() {
      let teams = await this.$store.dispatch("loadTeams");
      if (this.$route.params.team in teams) {
        this.team = teams[this.$route.params.team];
      } else {
        this.$router.push({ name: "Overview" });
      }
    }
  },
  computed: {
    activeQuarantine() {
      let activeQuarantines = this.activeQuarantines(
        this.team.details.abbreviation
      );
      if (activeQuarantines.length > 0) {
        return activeQuarantines[0];
      }
      return null;
    },
    ...mapGetters({
      activeQuarantines: "getActiveQuarantines",
      allQuarantines: "getAllQuarantines"
    }),
    shareTitle() {
      if (!this.team) {
        return this.$tc("overview.share.title", 0);
      }

      let title = this.$tc(
        "team.share.notquarantined",
        this.team.details.plural,
        { team: this.team.details.name }
      );
      let activeQuarantines = this.activeQuarantines(
        this.team.details.abbreviation
      );
      if (activeQuarantines.length > 0) {
        title = this.$tc("team.share.quarantined", this.team.details.plural, {
          team: this.team.details.name,
          date: this.$moment(activeQuarantines[0].from)
            .add(activeQuarantines[0].length + 1 + " days")
            .format("LL")
        });
      }

      return title;
    },
    currentLocation() {
      return window.location.toString();
    }
  }
};
</script>
