<template>
  <v-data-table
    class="elevation-1"
    disable-pagination
    hide-default-footer
    :items="data"
    :headers="headers"
  >
    <template v-slot:item.abbreviation="{ item }">
      <v-img
        :src="'/img/logos/' + item.team.abbreviation.toLowerCase() + '.png'"
        width="2rem"
      />
    </template>
    <template v-slot:item.from="{ item }">
      <time>{{ item.from | moment("LL") }}</time>
    </template>
    <template v-slot:item.length="{ item }">
      <time>{{ item.from | moment("add", item.length + " days", "LL") }}</time>
    </template>
    <template v-slot:item.sources="{ item }">
      <div v-for="source of item.sources" :key="source">
        <v-icon small class="mr-1">mdi-open-in-new</v-icon>
        <a :href="source" target="_blank">{{
          source
            .split("/")
            .slice(0, 3)
            .join("/")
        }}</a>
      </div>
    </template>
  </v-data-table>
</template>
<script>
export default {
  name: "QuarantineTable",
  data() {
    return {
      headers: [
        { value: "abbreviation", sortable: false, width: "50px" },
        { text: this.$t("quarantine.team"), value: "team.name" },
        { text: this.$t("quarantine.from"), value: "from" },
        { text: this.$t("quarantine.until"), value: "length" },
        { text: this.$t("quarantine.sources"), value: "sources" }
      ]
    };
  },
  props: {
    data: {
      type: Array,
      required: true
    }
  }
};
</script>
