<template>
  <div class="text-center" v-if="hasWebShareApi">
    <v-btn
      @click="shareOverShareApi"
      outlined
      icon
      dark
      color="black"
      class="my-2"
    >
      <v-icon>mdi-share-variant</v-icon>
    </v-btn>
  </div>
</template>
<script>
export default {
  name: "ShareButtons",
  props: {
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      default: ""
    },
    url: {
      type: String,
      default: location.toString()
    }
  },
  computed: {
    hasWebShareApi() {
      return navigator.share;
    }
  },
  methods: {
    shareOverShareApi() {
      navigator.share({
        title: this.title,
        text: this.text,
        url: this.url
      });
    }
  }
};
</script>
