<template>
  <v-card class="text-left">
    <v-list-item three-line>
      <v-list-item-content>
        <div class="overline mb-4">
          {{
            $t("quarantine.since", {
              date: $moment(quarantine.from).format("LL")
            })
          }}
        </div>
        <v-list-item-title class="headline mb-1">
          {{ quarantine.team.name }}
        </v-list-item-title>
        <v-list-item-subtitle>{{
          $t("quarantine.remaining", {
            duration: $moment(quarantine.from)
              .add({ days: quarantine.length + 1 })
              .fromNow(true)
          })
        }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar size="80" rounded="0">
        <v-img
          contain
          :src="
            '/img/logos/' + quarantine.team.abbreviation.toLowerCase() + '.png'
          "
        />
      </v-list-item-avatar>
    </v-list-item>
    <v-card-text>
      <div v-for="source of quarantine.sources" :key="source">
        <v-icon small class="mr-1">mdi-open-in-new</v-icon>
        <a :href="source" target="_blank">{{
          source
            .split("/")
            .slice(0, 3)
            .join("/")
        }}</a>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        :to="{
          name: 'Team',
          params: { team: quarantine.team.abbreviation.toLowerCase() }
        }"
        text
        color="primary"
        >{{ $t("quarantine.details") }}</v-btn
      >
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: "TeamCard",
  props: {
    quarantine: {
      type: Object,
      required: true
    }
  }
};
</script>
