<template>
  <v-app>
    <v-app-bar max-height="64px" dark flat>
      <v-toolbar-items>
        <v-btn :to="{ name: 'Overview' }" tile>{{ $t("app.name") }}</v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-main>
      <router-view />
    </v-main>
    <v-footer class="mt-4" padless>
      <v-card flat tile width="100%" class="grey lighten-3">
        <v-container>
          <v-row>
            <v-col cols="12" md="4">
              <a
                class="twitter-timeline"
                data-height="300"
                href="https://twitter.com/hkyquarantaene?ref_src=twsrc%5Etfw"
                >{{ $t("footer.twitter.title") }}</a
              >
            </v-col>
            <v-col cols="12" md="4">
              <p>
                <strong>{{ $t("footer.foph.title") }}:</strong>
              </p>
              <v-btn
                outlined
                :href="$t('footer.foph.link')"
                target="_blank"
                class="mb-4"
              >
                <v-icon small class="mr-1">mdi-open-in-new</v-icon>
                {{ $t("footer.foph.button") }}
              </v-btn>
              <p>
                {{ $t("footer.foph.text") }}
              </p>
            </v-col>
            <v-col cols="12" md="4">
              <p>
                <strong>{{ $t("footer.sihf.title") }}:</strong>
              </p>
              <v-btn
                outlined
                :href="$t('footer.sihf.link')"
                target="_blank"
                class="mb-4"
              >
                <v-icon small class="mr-1">mdi-open-in-new</v-icon>
                {{ $t("footer.sihf.button") }}
              </v-btn>
              <p>
                <strong>{{ $t("footer.contact.title") }}:</strong>
              </p>
              <v-btn
                outlined
                href="https://twitter.com/hkyquarantaene"
                target="_blank"
                class="mb-4"
              >
                <v-icon small class="mr-1">mdi-twitter</v-icon>
                {{ $t("footer.contact.button") }}
              </v-btn>
              <p>
                <strong>{{ $t("footer.contribution.title") }}:</strong>
              </p>
              <v-btn
                outlined
                href="https://gitlab.com/nicpat/hockeyquarantaene"
                target="_blank"
                class="mb-4"
              >
                <v-icon small class="mr-1">mdi-gitlab</v-icon>
                {{ $t("footer.contribution.button") }}
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-spacer></v-spacer>
            <v-col :cols="12" :sm="6" :lg="4" class="text-center">
              <p>
                <v-select
                  :label="$t('app.languages.label')"
                  :items="$i18n.availableLocales"
                  v-model="$i18n.locale"
                >
                  <template v-slot:item="{ item }">{{
                    $t("app.languages." + item)
                  }}</template>
                  <template v-slot:selection="{ item }">{{
                    $t("app.languages." + item)
                  }}</template>
                </v-select>
              </p>
              <p>Made by Nicolas Patrick Abbühl.</p>
            </v-col>
            <v-spacer></v-spacer>
          </v-row>
        </v-container>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  head() {
    return {
      titleTemplate: this.$t("app.meta.titleTemplate"),
      meta: [
        {
          name: "description",
          content: this.$t("app.meta.description")
        },
        {
          property: "og:description",
          content: this.$t("app.meta.description")
        }
      ]
    };
  },
  watch: {
    "$i18n.locale": function(to) {
      if (this.$i18n.availableLocales.includes(to)) {
        localStorage.setItem("locale", to);
        this.$moment.locale(to);
      }
    }
  },
  mounted() {
    // Set language
    let storedLocale = (
      localStorage.getItem("locale") ||
      navigator.language ||
      navigator.userLanguage
    ).substr(0, 2);

    if (this.$i18n.availableLocales.includes(storedLocale)) {
      this.$i18n.locale = storedLocale;
      this.$moment.locale(storedLocale);
    }

    // Initialize twitter block
    let twitterScript = document.createElement("script");
    twitterScript.setAttribute(
      "src",
      "https://platform.twitter.com/widgets.js"
    );
    document.head.appendChild(twitterScript);
  }
};
</script>
